.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.start-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 90vw;
}
.start-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	overflow: hidden;
	padding: 0.4rem;
	border-radius: 0.4rem;
	border: 2px solid black;
}
.username-input {
	font-size: inherit;
	padding: 10px;
	border: none;
	outline: none;
	width: 30rem;
	border-radius: 0.4rem;
	border-right: none;
}
.username-input-btn {
	font-size: inherit;
	padding: 10px;
	width: 15rem;
	border: none;
	border-radius: 0.4rem;
	outline: none;
	color: white;
	background-color: #333;
}
.username-input-btn:disabled {
	color: #aaa;
	background-color: #777;
	cursor: not-allowed;
}

.chat-container {
	border-radius: 0.8rem;
	overflow: hidden;
	box-shadow: 0px 0px 16px 16px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
	background-color: #1f1f1f;
	width: 0.8rem;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 10rem;
}
